<div class="container margin-top-title">
  <div class="jumbotron">
    <h1>Event Page</h1>
    <p>Events!</p> 
  </div>
  <div class="row background-image-event">
    <div class="col-sm-4">
      <h3>Submit an Event</h3>
      <button type="button" class="btn btn-raised btn-info" data-toggle="modal" data-target="#myEventSubmitModal">Submit</button>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>View Events near You</h3>
      <a href="javascript:void(0)" class="btn btn-raised btn-primary">View nearest...</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>View all Events</h3>   
      <a href="javascript:void(0)" class="btn btn-raised btn-success">View all</a>     
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div>
    <img src="img/event.gif" height="300px;"/>
    </div>
  </div>
</div>
  <!-- Modal -->
  <div class="modal fade" id="myEventSubmitModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>