<div class="container margin-top-title">
  <div class="jumbotron">
    <h1>{{'HOME_TEXT' | translate}}</h1>
    <p>The Home Page</p> 
  </div>
  <div class="row">
    <div class="col-sm-4">  
      <display-video title="Title of video1 goes here"></display-video>
    </div>
    <div class="col-sm-4">  
      <display-video title="Title of video2 goes here"></display-video>
    </div>
    <div class="col-sm-4">  
      <display-video title="Title of video3 goes here"></display-video>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">  
      <display-video title="Title of video4 goes here"></display-video>
    </div>
    <div class="col-sm-4">  
      <display-video title="Title of video5 goes here"></display-video>
    </div>
    <div class="col-sm-4">  
      <display-video title="Title of video6 goes here"></display-video>
    </div>
  </div>
</div>