<div class="container margin-top-title">
  <div class="jumbotron">
    <h1>{{'HOME_TEXT' | translate}}</h1>
    <p>Book(s) Summary</p> 
  </div>
  <div class="row">


<div class="col-sm-3">  
<h3>Books on HEALTH</h3>
 <table>
  <tr>
    <th>S.No.</th>
    <th>Book Name</th>
    <!--<th>Author</th>-->
  </tr>
  <tr data-ng-repeat="h in health">
    <td>{{h.id}}.</td>
    <td>{{h.name}} -{{h.author}}</td>
  </tr>
</table> 


    </div>
    <div class="col-sm-3">  
<h3>Books on WEALTH</h3>

 <table>
  <tr>
    <th>S.No.</th>
    <th>Book Name</th>
  </tr>
  <tr data-ng-repeat="w in wealth">
    <td>{{w.id}}.</td>
    <td>{{w.name}} -{{w.author}}</td>
  </tr>
</table> 


    </div>
    <div class="col-sm-3">  

<h3>Books on LOVE</h3>
 <table>
  <tr>
    <th>S.No.</th>
    <th>Book Name</th>
  </tr>
  <tr data-ng-repeat="l in love">
    <td>{{l.id}}.</td>
    <td>{{l.name}} -{{l.author}}</td>
  </tr>
</table> 


    </div>

  <div class="col-sm-3">  

<h3>Books on HAPPINESS</h3>
 <table>
  <tr>
    <th>S.No.</th>
    <th>Book Name</th>
  </tr>
  <tr data-ng-repeat="ha in happiness">
    <td>{{ha.id}}.</td>
    <td>{{ha.name}} -{{ha.author}}</td>
  </tr>
</table> 

      
    </div>



  </div>
  






    <!--<div class="col-sm-4">  
      <display-video title="Title of video1 goes here"></display-video>
    </div>
    <div class="col-sm-4">  
      <display-video title="Title of video2 goes here"></display-video>
    </div>
    <div class="col-sm-4">  
      <display-video title="Title of video3 goes here"></display-video>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">  
      <display-video title="Title of video4 goes here"></display-video>
    </div>
    <div class="col-sm-4">  
      <display-video title="Title of video5 goes here"></display-video>
    </div>
    <div class="col-sm-4">  
      <display-video title="Title of video6 goes here"></display-video>
    </div>-->
  </div>