<div class="container margin-top-title">
  <div class="jumbotron">
    <h1>Travel Page</h1>
    <p>Travel!</p> 
  </div>
  <div class="row background-image-event">
    <div class="col-sm-12">
      <h3>1. Andaman and Nicobar, April'2011</h3>
      <img src="img/1.JPG" height="300px;"/>
      <img src="img/2.JPG" height="300px;"/>
    </div>
  </div>
  <div class="row background-image-event">
    <div class="col-sm-6">
      <h3>2. Kanpur, 2021</h3>
      <display-video title="@ Kanpur, 20211204"></display-video>
      <display-video2 title="@ Kanpur, 20211204 2"></display-video2>
    </div>
  </div>
</div>